.pt_custommenu {
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 90;
    display: inline-block;
	float:left;
	text-align:left;
	font-family: 'Montserrat', sans-serif;
}
.pt_custommenu div.pt_menu {
    display:inline-block;
	float:left;
}
.pt_custommenu div.pt_menu  .parentMenu {
	position:relative;
	z-index:1;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
	display: block;
    position: relative;
    margin: 0;
    padding: 5px 20px;
    color: #fff;
    line-height: 39px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.pt_custommenu div.pt_menu_link .parentMenu a:after {display:none;}
.pt_custommenu div.pt_menu .parentMenu a.current,
.pt_custommenu div.pt_menu .parentMenu a:hover,
.pt_custommenu div.pt_menu.act .parentMenu a{
	background: #23c3ff;
    color: #fff;
}
.pt_custommenu div.pt_menu_no_child .parentMenu a:after,
.pt_custommenu div#pt_menu_home .parentMenu a:after{
	content: "";
	margin:0;
}
div.pt_menu .parentMenu a, .parentMenu .block-title {
    color: #000;
    font-size: 18px;
}
.pt_custommenu div.popup {
    position:absolute;
    z-index:3000;
    background: #fff;
    text-align:left;
    padding:0;
    margin: 0;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.14);
}

.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}
.block1 .column .itemMenu > a.actParent{border-bottom:1px solid #ddd;}
.pt_custommenu .itemMenu h4.level0,.pt_custommenu .itemMenu a.level0 {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
	font-weight:800;
}
.block1 .column .itemMenu .itemSubMenu .itemMenu > a{color:#252525; font-family:arial; font-size:14px;}
.block1 .column .itemMenu .itemSubMenu .itemMenu > a:hover{color:#85d565;}
.pt_custommenu .itemMenu h4.level0 span, .pt_custommenu .itemMenu a.level0 span {
	padding-right:20px;
}

.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu .level1 a.level0{
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
	line-height:30px;
}
.pt_custommenu .itemSubMenu{padding-top:10px;}
.pt_custommenu div.popup a.actParent {
	padding-bottom:10px;
	border-bottom: 1px solid #575757;
}
.pt_custommenu div.popup a.act {
	color:#000;
	font-weight:400;
}
.pt_custommenu div.column {
    float: left;
    padding-right:20px;
    width: 170px;
}
.pt_custommenu div.blockright {
	width:180px;
}
.pt_custommenu .menu-image { margin:20px 0 0; }
.pt_custommenu div.popup .blockright img {
    max-width: 100%;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
}

.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
}
#block2_pt_item_menu_custom_menu {
    width: 700px;
	padding:0;
}
.static-menu-img {
    margin: 0 20px 0 0;
	width:40%;
	float:left;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
	padding:20px 30px;
}

#block2_pt_item_menu_custom_menu .content-custom {
	font-size:14px;
	color:#444444;
	font-weight:normal;
	font-family:'arial';
	line-height:20px;
	margin:10px 0 0;
	float:left;
	width:50%;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}

/*mobile menu*/

/*------Accordion ---------*/
/********** < Navigation */
#ma-mobilemenu{visibility: visible;}
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
.navbar-inner {
    border: 0;
    border-radius: 0;
    padding: 2px 0;
}
.navbar .btn-navbar {
    background: url("../images/bg-menu-mobile.png") no-repeat scroll 50% 50%;
    border: 0 none !important;
    box-shadow: none !important;
    margin-top: 10px;
	display:inline-block;
}
.navbar .btn-navbar:hover {
	 background: url("../images/bg-menu-mobile.png") no-repeat scroll 50% 50%;
}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
    text-transform: uppercase;
	padding:18px 15px;
}
.mobilemenu {
	list-style-type: none;
	padding: 0;
    margin: 0;

}
.collapse.in {

}
.mobilemenu ul {
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
}
.mobilemenu li {
	background: #faf8f8;
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	position: relative;
        border-radius: 0 !important;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
	/*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
	padding: 20px;
	background: #aef;
	display: block;
	clear: both;
	float: left;
	width: 360px;
}
.mobilemenu a {
    border-bottom: 1px solid #e0d8d8;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.mobilemenu a:hover{color:#7ecc13;}
.mobilemenu li:last-child a{border:0;}
.mobilemenu li.active>ul {

}
.mobilemenu ul a{
	padding-left: 15px;
}
.mobilemenu ul ul a {
	padding-left: 30px;
}
.mobilemenu ul ul ul a {
	padding-left: 30px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 45px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 60px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.ttclose,.mobilemenu span.ttopen {
	position: absolute;
	top: 12px;
	right: 8px;
}
.mobilemenu span.ttclose a { 
	background: url("../images/menu_down.png") no-repeat scroll 50% 50%;
	 border: 0 none;
    color: #333333;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
}
.mobilemenu span.ttopen a { 
	background: url("../images/menu_up.png") no-repeat scroll 50% 50%;
	 border: 0 none;
    color: #333333;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
}
.mobilemenu span.no-close a,.mobilemenu ul li ul span.ttclose a { background:none; }
.mobilemenu span.up a { 
	background: url("../images/menu_up.png") no-repeat scroll 50% 50%;
}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.ttclose a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.mobilemenu li.selected span.ttclose a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.menu-mobile {
    width: 100%;
	height: 53px;
	background: #00aeef !important;
}